body{
  background-image: url(img/bg.jpg);
}


.text{
  color:yellow;
  text-align: center;
  font-size: 500%;
}

.scroll{
    position: absolute;
    top: 100%;
    animation: scroll 100s linear;
}




@keyframes scroll {
  	0% { top: 100%; }
  	100% { top: -170%; }
    }
